{% extends 'accounts/profile/_base.html' %}
{% load profile_filters %}

{% block profile_content %}
<div class="profile-content">
  <div class="row"><div class="col-xl-12">
    <div class="tab-content p-0">
      <div class="tab-pane fade active show" id="profile-followers">
        <div class="list-group">

          {% for follower in followers %}
          <div class="list-group-item d-flex align-items-center">
            <img src="{{ follower.follower.profile.avatar }}" alt="" width="50px" class="rounded-sm ml-n2 me-3">
            <div class="flex-fill pl-3 pr-3">
              <div>
                <a href="{{ follower.follower.profile.get_absolute_url }}" class="text-dark font-weight-600">
                  {{ follower.follower.username }}
                </a>
              </div>
              <div class="text-muted fs-13px">{{ follower.follower.profile.info }}</div>
            </div>
            {% if request.user != follower.follower %}
              {% if request.user|is_following:follower.follower %}
                <a href="{{ follower.follower.profile.get_unfollow_url }}" class="btn btn-outline-primary">
                  <span class="text-danger">Unfollow</span>
                </a>
              {% else %}
                <a href="{{ follower.follower.profile.get_follow_url }}" class="btn btn-outline-primary">
                  Follow
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock profile_content %}
