{% extends 'base/_base.html' %}
{% load static %}

{% block title %}
  Reset password
{% endblock title %}


{% block content %}
<div class="col-md-4">
  <h2>Reset password</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <strong>
        {{ field.label_tag }}
      </strong>
      {{ field }}
    {% endfor %}
    <div class="form-check mt-2">
      <label for="show_password_change">Show password</label>
      <input type="checkbox" class="form-check-input" id="show_password_change">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Change password</button>
  </form>
</div>
<script src="{% static 'js/show_password.js' %}"></script>
{% endblock content %}
