{% extends 'base/_base.html' %}


{% block content %}
{% include './base.html' %}
{% for follower in followers %}
<section class="">
<div class="container py-2">
    <div class="col col-lg-9 col-xl-7"></div>
    <div class="list-group border border-4  align-items-center">
        <a href="{% url 'accounts:profile_detail' username=follower.follower.username %}"
           class="list-group-item list-group-item-action text-decoration-none">
            <img src=follower.follower.avatar" class="me-1"><strong>{{ follower.follower.username }}</strong>
        </a> {% if request.user.is_superuser %}
        <p>{{ follower.created|date:"M d, Y" }}</p>
        {% endif %}
    </div>
</div>
    {% endfor %}
</section>
{% endblock %}